<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>NameCard</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Acme-Regular.ttf</string>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>AmaticSC-Bold.ttf</string>
		<string>Anton-Regular.ttf</string>
		<string>Assistant-VariableFont_wght.ttf</string>
		<string>Blaka-Regular.ttf</string>
		<string>BlakaHollow-Regular.ttf</string>
		<string>Caveat-VariableFont_wght.ttf</string>
		<string>Changa-VariableFont_wght.ttf</string>
		<string>Cinzel-VariableFont_wght.ttf</string>
		<string>Cookie-Regular.ttf</string>
		<string>Fascinate-Regular.ttf</string>
		<string>FascinateInline-Regular.ttf</string>
		<string>FjallaOne-Regular.ttf</string>
		<string>GentiumPlus-BoldItalic.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>Inter-VariableFont_slnt,wght.ttf</string>
		<string>Joan-Regular.ttf</string>
		<string>KdamThmorPro-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>Monofett-Regular.ttf</string>
		<string>NanumMyeongjo-ExtraBold.ttf</string>
		<string>Nunito-Italic-VariableFont_wght.ttf</string>
		<string>OpenSans-Italic-VariableFont_wdth,wght.ttf</string>
		<string>Orbitron-VariableFont_wght.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
		<string>PressStart2P-Regular.ttf</string>
		<string>Rajdhani-Light.ttf</string>
		<string>Raleway-Italic-VariableFont_wght.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Sacramento-Regular.ttf</string>
		<string>Satisfy-Regular.ttf</string>
		<string>ShadowsIntoLight-Regular.ttf</string>
		<string>Signika-VariableFont_wght.ttf</string>
		<string>SplineSansMono-VariableFont_wght.ttf</string>
		<string>TiroGurmukhi-Italic.ttf</string>
		<string>Yellowtail-Regular.ttf</string>
	</array>
</dict>
</plist>
